
<svg
   width="60.759815mm"
   height="60.759815mm"
   viewBox="0 0 60.759816 60.759815"
   version="1.1"
   id="svg865"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">

  <defs
     id="defs862" />
  <rect
     style="fill:#87de87;fill-opacity:1;stroke:#ffffff;stroke-width:0.0796547;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal"
     id="rect4363"
     width="60.680161"
     height="60.680161"
     x="0.039827351"
     y="0.039827351"
     ry="15.213037"
     rx="15.213037" />
  <g
     id="g3887"
     transform="matrix(0.99764494,-0.99764494,0.99764494,0.99764494,-122.6889,-25.023203)"
     style="fill:#ffffff">
    <g
       id="g3880"
       style="fill:#ffffff">
      <rect
         style="fill:#ffffff;stroke:#ffffff;stroke-width:0.1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal"
         id="rect3178"
         width="10.986701"
         height="10.986701"
         x="43.454777"
         y="88.001968" />
      <rect
         style="fill:#ffffff;stroke:#ffffff;stroke-width:0.1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal"
         id="rect3262"
         width="10.986701"
         height="10.986701"
         x="54.441479"
         y="98.98867" />
      <rect
         style="fill:#ffffff;stroke:#ffffff;stroke-width:0.1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal"
         id="rect3264"
         width="10.986701"
         height="10.986701"
         x="43.454781"
         y="109.97537" />
      <rect
         style="fill:#ffffff;stroke:#ffffff;stroke-width:0.1;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;paint-order:normal"
         id="rect3268"
         width="10.986701"
         height="10.986701"
         x="32.468075"
         y="98.98867" />
    </g>
  </g>
</svg>
<h1>
  ЭРЦИТ
</h1>